.myclass{
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.nav-item .active{
  font-weight: bold;
  color: white !important;
  border-bottom: 2px solid rgb(231, 131, 131);
}

.error-label{
  color: red;
  display: inline;
  font-weight: bold;
  font-size: 10px;
  margin-left: 10px;


  
}
